{% extends "index.html" %}

{% block main %}
<!-- Blog entries-->
<div class="card mb-4">
    {% include "statementsfrommanager_include.html" %}
</div>
<!-- Blog entries-->
    <!-- Nested row for non-featured blog posts-->
    <div class="row">
     {% if ourposts_list %}
            {% for ourposts in object_list %}
                {% if ourposts.valid_for_public == "公開" %}
                {% include "ourposts_include.html" %}
                {% endif %}
            {% endfor %}
    {% else %}
        <p>まだ投稿がありません</p>
    {% endif %}
    </div>
{% endblock %}

{% include "pagenation_include.html" %}