{% extends "index.html" %}

{% if ourposts_list.0.user %}{% block pagename %}{{ ourposts_list.0.user }}さんのページ {% endblock %}{% endif%}

{% block main %}
<!-- Blog entries-->
    <!-- Nested row for non-featured blog posts-->
    <div class="row">
     {% if ourposts_list %}
        {% for ourposts in ourposts_list %}
        {% include "ourposts_include.html" %}
        {% endfor %}
    {% else %}
        <p>まだ投稿がありません</p>
    {% endif %}
    </div>
{% endblock %}

{% block pagenation %}
    {% include "pagenation_include.html" %}
{% endblock %}s