{% load static %}

<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>WE LOVE KOHRI - 香里ヶ丘の魅力を伝えよう</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="{% static 'css/styles.css' %}" rel="stylesheet" />
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.2/css/all.css" integrity="sha384-/rXc/GQVaYpyDdyxK+ecHPVYJSN9bmVFBvjA/9eOB+pb3F2w2N6fc5qB9Ew5yIns" crossorigin="anonymous">
    </head>
    <body>
        <!-- Responsive navbar-->
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container">
                <a class="navbar-brand" href="{% url 'toppage:top' %}">WE LOVE KOHRI</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                        <li class="nav-item"><a class="nav-link" aria-current="page" href="{% url 'toppage:top' %}">Home</a></li>
                        {% if request.user.is_authenticated %}
                        <li class="nav-item"><a class="nav-link" aria-current="page" href="{% url 'toppage:mypage' %}">Mypage</a></li>
                        <li class="nav-item"><a class="nav-link" aria-current="page" href="{% url 'toppage:createpost' %}">MakePost</a></li>
                        <li class="nav-item"><a class="nav-link" aria-current="page" data-toggle="modal" data-target="#testModal" href="{% url 'accounts:logout' %}">Logout</a></li>
                        {% else %}
                        <li class="nav-item"><a class="nav-link" aria-current="page" href="{% url 'accounts:login' %}">Login</a></li>
                        <li class="nav-item"><a class="nav-link" aria-current="page" href="{% url 'accounts:signup' %}">Signup</a></li>
                        <li class="nav-item"><a class="nav-link" aria-current="page" href="#">Contact</a></li>
                        {% endif %}
                </div>
            </div>
        </nav>
        <!-- Page header with logo and tagline-->
        <header class="py-5 bg-light border-bottom mb-4">
            <div class="container">
                <div class="text-center my-5">
                    <h1 class="fw-bolder">{% block pagename %}Welcome to Our HomeTown!{% endblock %}</h1>
                    <p class="lead mb-0">{% if request.user.is_authenticated %}ようこそ{{ request.user }}さん。香里ヶ丘の魅力を伝えましょう{% else %}初めまして！香里ヶ丘の魅力を覗きましょう{% endif %}</p>
                </div>
                <div class="text-center">
                {% if request.user.is_authenticated %}
                <a class="btn btn-primary mt-1" href="{% url 'toppage:createpost' %}">投稿する！</a>
                {% else %}
                <a class="btn btn-primary mt-1" href="{% url 'accounts:login' %}">ログインする</a>
                {% endif %}
                {% if request.user.is_superuser %}
                <a class="btn btn-primary mt-1"  href="/management/公開/">承認済み投稿</a>
                <a class="btn btn-primary mt-1"  href="/management/非公開/">未承認投稿</a>
                {% endif %}
                </div>
            </div>
        </header>
        <main>
        <!-- Page content-->
            <div class="container">
                <div class="row">
                    <div class="col-lg-8">
                    {% block main %}
                    
                    {% endblock %}
                    {% block pagenation %}
    
                    {% endblock %}
                    </div>
                    {% block sidewidgets %}
                    <!-- Side widgets-->
                    <div class="col-lg-4">
                        <div class="card mb-4">
                            <div class="card-header">運営者コメント</div>
                            <div class="text-center">
                            <img class="img-fluid img-profile rounded-circle mt-2" style="width:10rem;height:10rem;" src="/static/images/IMG_2596.JPG" alt="" /></div>
                            <div class="card-body">香里ヶ丘生まれ香里ヶ丘育ちの大学生です。地元の閑静な街並みと、優しい人たちが沢山いて、心が落ち着くこの場所が大好きです。どんな場所に旅行に行っても、ここに帰ると安心しますし、一番のホームタウンだと確信しています。そんな香里ヶ丘をたくさんの人に知ってもらいたくてこのサイトを作りました。</div>
                        </div>
                        <div class="card mb-4">
                            <div class="card-header">Categories</div>
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-sm-6">
                                        <ul class="list-unstyled mb-0">
                                            <li><a href="/category/notice/">お知らせ</a></li>
                                            <li><a href="/category/foods/">グルメ</a></li>
                                            <li><a href="/category/bestspot/">ベストスポット</a></li>
                                        </ul>
                                    </div>
                                    <div class="col-sm-6">
                                        <ul class="list-unstyled mb-0">
                                            <li><a href="/category/events/">イベント</a></li>
                                            <li><a href="/category/news/">個人的ニュース</a></li>
                                            <li><a href="/category/others/">その他</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endblock %}
                </div>
            </div>
        </main>
        <!-- Footer-->
        <footer class="py-5 bg-dark">
            <div class="container"><p class="m-0 text-center text-white">Copyright &copy; Your Website 2024</p></div>
        </footer>
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
        <!-- Core theme JS-->
        <script src="{% static 'js/scripts.js' %}"></script>
    </body>
</html>
