
<div class="col-lg-6">
    <!-- Blog post-->
    <div class="card mb-4">
        {% if ourposts.photo1 %}
        <a href="#!"><img class="card-img-top" src="{{ ourposts.photo1.url }}" alt="" /></a>
        {% else %}
        <a href="#!"><img class="card-img-top" src="https://dummyimage.com/850x350/dee2e6/6c757d.jpg" alt="" /></a>
        {% endif %}
        <div class="card-body">
            <div class="small text-muted">{{ ourposts.date }} - <a href="/userpages/{{ ourposts.user_id }}/">{{ ourposts.user }}さんの投稿</a></div>
            <div class="small text-muted">{{ ourposts.get_category_display }} - {{ ourposts.get_valid_for_public_display }}</div>
            <h2 class="card-title h4">{{ ourposts.title }}</h2>
            <p class="card-text">{{ ourposts.content|truncatechars:20 }}</p>
            <a class="btn btn-primary mt-1" href="/postdetail/{{ ourposts.id }}">続きを読む →</a>
            {% if user.is_superuser %}
                <a class="btn btn-primary mt-1" href="/deletepost/{{ ourposts.id }}">削除する</a>
                {% if request.path == "/management/非公開/" %}
                <a class="btn btn-primary mt-1" href="/approve/{{ourposts.id}}" role="button">承認</a>
                {% endif %}
                {% if request.path == "/management/公開/" %}
                <a class="btn btn-primary mt-1" href="/inapprove/{{ourposts.id}}" role="button">取り下げ</a>
                {% endif %}
            {% endif %}
        </div>
    </div>
</div>